.dashboard {
    background-color: rgb(197, 197, 197);
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    .dashboard-logo {
        
    }
    .dashboard-img {
        div {
            width: 600px;
            height: 500px;
            background-size: cover;
            background-position: center;
        }
        .dashboard-img1 {
            background-image: url('./unnamed.jpg');
        }
        .dashboard-img2 {
            background-image: url('./unnamed1.jpg');
        }
        .dashboard-img3 {
            background-image: url('./unnamed2.jpg');
        }
        .dashboard-img4 {
            background-image: url('./unnamed.jpg');
        }
        .dashboard-img5 {
            background-image: url('./unnamed1.jpg');
        }
        .dashboard-img6 {
            background-image: url('./unnamed2.jpg');
        }
    }
}