.dashboard {
    background-color: rgb(197, 197, 197);
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 30px 0 50px 0;
    overflow: hidden;
    .dashboard-logo {
        margin: 20px;
    }
    .dashboard-img {
        div {
            width: 90vw;
            max-width: 950px;
            min-width: 800px;
            height: 600px;
            background-size: cover;
            background-position: center;
        }
        .dashboard-img1 {
            background-image: url('https://s3-us-west-1.amazonaws.com/personal-project-1989/Sigutes/1.jpg');
        }
        .dashboard-img2 {
            background-image: url('https://s3-us-west-1.amazonaws.com/personal-project-1989/Sigutes/2.jpg');
        }
        .dashboard-img3 {
            background-image: url('https://s3-us-west-1.amazonaws.com/personal-project-1989/Sigutes/3.jpg');
        }
        .dashboard-img4 {
            background-image: url('https://s3-us-west-1.amazonaws.com/personal-project-1989/Sigutes/4.jpg');
        }
        .dashboard-img5 {
            background-image: url('https://s3-us-west-1.amazonaws.com/personal-project-1989/Sigutes/5.jpg');
        }
        .dashboard-img6 {
            background-image: url('https://s3-us-west-1.amazonaws.com/personal-project-1989/Sigutes/3.jpg');
        }
    }
    .home{
        width: 90vw;
        max-width: 900px;
        height: auto;
        background-color: #fff;
        padding: 20px 25px;
        margin-top: 50px;
        .home-bio {
            width: 80%;
            margin: -10px auto 10px auto;
            text-align: center;
            line-height: 1.5;
            font-size: 1.2rem;
        }
        .home-posts {
            margin: 30px;
            width: 300px;
            height: auto;
            img {
                width: 200px;
                height: 200px;
            }
        }
    }
    
}