.home-something {
    width: 90vw;
    max-width: 900px;
    height: auto;
    display: flex;
    justify-content: space-around;
    padding: 30px 25px;
    background-color: rgb(238, 181, 74);
    a {
        text-decoration: none;
        margin: 0 20px;
    }
    div {
        text-align: center;
    }
}
.home-footer {
    width: 90vw;
    max-width: 900px;
    padding: 20px 25px;
    text-align: center;
    background-color: #fff;
}